version: "3.9"

services:
  dev:
    build:
      context: .
    command: npm start -- --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    environment:
      - NODE_ENV=development
    volumes:
      - .:/app
      - /app/node_modules

  prod:
    build:
      context: .
    ports:
      - "8000:8000"
    environment:
      - NODE_ENV=production